{% extends 'blog/base.html' %}
{% block content %}
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-8">
              <h1 class="mb-4">{{ post.title }} ({{post.category.name}})</h1>
              <p class="text-muted">Posted on January 1, 2024</p>
              {% if post.upload_img_url %}
              <img src="{{ post.upload_img_url.url }}" width="600px" height="600px" class="img-fluid mb-4" alt="Blog Image">
              {% elif post.external_img_url %}
              <img src="{{ post.external_img_url }}" width="600px" height="600px" class="img-fluid mb-4" alt="Blog Image">
              {% else %} 
              <img src="media/posts/default.jpg" width="600px" height="600px" class="img-fluid mb-4" alt="Default Image">
              {% endif %}
              <p>{{post.content}}</p>
            </div>
            <div class="col-lg-4">
              <div class="card mt-3">
                <div class="card-body">
                  <h5 class="card-title">Related Posts</h5>
                  <ul class="list-unstyled">
                    {% for related in related_posts %}
                      <li><a href="{% url 'blog:detail' related.slug %}">{{ related.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}